@model MyStore.Application.ViewModels.ProductViewModel
@{ ViewData["Title"] = "Index";
                Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml"; }


<link href="~/lib/datatables/css/dataTables.bootstrap4.css" rel="stylesheet" />
<a asp-controller="Products" asp-action="Create" class="btn btn-outline-primary mb-3">Add New Product</a>

<div class="row">
    @if (!Model.Products.Any())
    {
<div class="alert alert-warning" role="alert">
    <i class="bi-alarm bi-exclamation-triangle"></i>
    No products Found!
</div> }
            else
            {
<table class="table table-hover" id="ProductTable">
    <thead>
        <tr >
            <th>Name</th>
            <th> Price</th>
            <th>Description</th>
            <th>Picture</th>
            <th>Category</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model.Products)
        {
<tr class="parent">
    <td>@product.Name</td>
    <td> @product.Price</td>
    <td>@product.Description</td>
    <td><img src="@product.ImageUrl" style="width:100%; height:200px; object-fit:contain;" /></td>
    <td>@product.Category.Name</td>
    <td>
        <a asp-controller="Products" asp-action="Edit" asp-route-id="@product.ID" class="fas fa-edit"></a>
        <a href="javascript:;" data-id="@product.ID" class="js-delete fas fa-trash text-danger"></a>
    </td>
</tr>                }
    </tbody>
</table>}

</div>
@section Scripts
{
    <script src="~/lib/datatables/js/jquery.dataTables.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.js"></script>

    <script>
        $(document).ready(function () {

            $('#ProductTable').DataTable();

            $(".js-delete").on('click', function () {
                var btn = $(this);
                bootbox.confirm(
                    {
                        message: "Are you sure you want to delete this Category?",
                        buttons: {
                            confirm: {
                                label: 'Yes',
                                className: 'btn-danger'
                            },
                            cancel: {
                                label: 'No',
                                className: 'btn-outline-secondary'
                            }
                        }
                        ,
                        callback: function (result) {
                            if (result) {
                                $.ajax({
                                    url: '/Admin/Products/Delete/' + btn.data('id'),
                                    success: function () {
                                        var PictureContainer = btn.parents('.parent');
                                        PictureContainer.addClass('animate__animated animate__zoomOut');
                                        setTimeout(function () {
                                            PictureContainer.remove();
                                        }, 1000);
                                        toastr.success("Category Deleted!");
                                    },
                                    error: function () {
                                        toastr.error("Somthing Went error");
                                    }
                                });
                            }
                        }
                    });
            });
        });
    </script>
}